.content-section {
    margin: auto;
}

/* Header */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    height: 293px;
    padding: 95px 50px 100px;
    background-color: rgba(255, 255, 255, 1);
}

.header__menu-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    font-size: 18px;
}

.header__menu-item_active {
    list-style: none;
}

.header__menu-item__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 130px;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 240px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.35;
}

.header__contacts-phone,
.header__contacts-email {
    white-space: nowrap;
}

.cover {
    height: 757px;
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover__title {
    margin-bottom: 106px;
}

.lots {
    height: 723px;
    margin-bottom: 120px;
}

.about {
    height: 595px;
}

.lots,
.about {
    padding: 0 24px;
}

.footer {
    height: 180px;
}