.content-section {
    margin: auto;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 88px 50px 93px;
    background-color: rgba(255, 255, 255, 1);
}

.header__links-list {
    display: flex;
    gap: 32px;  
    font-size: 18px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.header__link_active {
    border-bottom: 0;
}

.header__logo {
    display: block;
    width: 136px;
    padding-top: 4px;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.35;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}

.header__contacts-phone,
.header__contacts-email {
    white-space: nowrap;
    text-underline-position: under;
}


/* Cover */
.cover {
    position: relative;
    padding: 165px 50px 50px;
    margin-bottom: 180px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: 51% center;
    background-size: cover;
    z-index: 0;
}

/* оверлей для затемнения фона картинки*/
.overlay-darken {
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* обертка для элементов, чтобы их показать поверх затменения оверлеем */
.top-index-wrapper {
    position: relative;
    z-index: 2;
}

.cover__title {
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase;
    margin-bottom: 106px;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
}

.cover__description-text {
    width: 637px;
    word-spacing: 18.5px;
    line-height: 1.27;
}

.bet-button {
    font-size: inherit;
    font-weight: 500;
    color: inherit;
    text-transform: inherit;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 12px 32px;
}


/* Lots */
.lots {
    margin-bottom: 120px;
    padding: 0 24px;
    background-color: rgba(255, 255, 255, 1);
}

.lots__heading {
    padding-left: 40px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 27px;
}

.lots__card-list {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.card {
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 48px 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_type_film, 
.card_type_book,
.card_type_picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card__title,
.card__text {
    z-index: 2;
}

.card__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px; 
}

.card__text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.lots__look-more-link {
    margin-left: 40px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid black;
}


/* About */
.about {
    height: 595px;
    display: grid;
    grid-template-columns: 334px auto;
    gap: 25px;
    padding: 0 24px;
    padding-top: 35px;
    margin-bottom: 180px;
    background-color: rgba(255, 255, 255, 1);
}

.about__column:first-child {
    padding: 0 47px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
}

.about__logo-image {
    width: 148px;
}

.about__title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 100px 0;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
}

.about__text-paragraph {
    margin-bottom: 24px;
}

.about__text-paragraph:last-child {
    margin-bottom: 0;
}


/* Footer */
.footer {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: flex-start;
    padding: 0 50px 82px;
    background-color: rgba(255, 255, 255, 1);
}

.footer__address {
    max-width: 265px;
}

.footer__menu-list {
    list-style: none;
    width: 164px;
    font-size: 18px;
    font-weight: 400;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.footer__menu-link_active {
    border-bottom: 0;
}

.footer__social-list {
    display: flex;
    list-style: none;
    max-width: 240px;
    justify-self: end;
    gap: 48px;
}

.footer__contacts-phone,
.footer__contacts-email {
    white-space: nowrap;
    text-underline-position: under;
    text-decoration-thickness: 1px;
}
